<div class="flex items-center justify-center gap-3 mt-4">
  <span
    class="text-xs px-1 transition-all duration-200"
    [class.border]="!isToggled()"
    [class.border-surface-400]="!isToggled()"
    [class.rounded]="!isToggled()">
    {{ label1() }}
  </span>
  <p-toggleswitch
    [(ngModel)]="isToggled"
    (ngModelChange)="onToggle($event)"
  />
  <span
    class="text-xs px-1 transition-all duration-200"
    [class.border]="isToggled()"
    [class.border-surface-400]="isToggled()"
    [class.rounded]="isToggled()">
    {{ label2() }}
  </span>
</div>
