@use "tailwindcss";

@plugin "tailwindcss-primeui";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #111827;
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}
